


$accent:#A031B6;
$background:#302931;
$window:#413A42;
$white:#FFFFFF;
$light-gray:#CCCCCC;
$gray:#999999;
$dark-gray:#666666;
$purple-gray:#675F68;
$red:#DF3737;
$green:#47AA25;
$shadow:rgba(0, 0, 0, 0.5);
